################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tic-The-Tac-The-Toe/.vs/Tic-The-Tac-The-Toe/FileContentIndex/b19e12bf-8084-495f-bb9d-7f3ef5a45623.vsidx
/Tic-The-Tac-The-Toe/.vs/Tic-The-Tac-The-Toe/FileContentIndex/d7efba69-e02c-44e9-94eb-c92e47465896.vsidx
